<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Date and Time Input Page</title>
</head>
<body>

<h2>Enter Dates and Time</h2>

<form method="POST" action="/submit">
  <label for="dateInput">Enter a Date:</label><br>
  <label for="start-date">Start Date:</label>
  <input type="date" id="start-date" name="start-date">
  <input type="time" id="start-time" name="start-time">

  <label for="end-date">End Date:</label>
  <input type="date" id="end-date" name="end-date">
  <input type="time" id="end-time" name="end-time"> 
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>
